<head>
    <title>Perfil</title>
</head>

<body>
    <h1>Perfil</h1>
    {{!-- {{#if cliente}} --}}
        <p>Perfil: {{cliente.senha_cliente}} e {{cliente.nome_cliente}}</p>
        <p>LED 1: {{cliente.led_1}}</p>
        <p>Logradouro: {{cliente.logradouro}}</p>
        <p>CPF: {{cliente.cpf_cliente}}</p>
    {{!-- {{else}} --}}
        <p>Não foi possível carregar as informações do perfil.</p>
    {{!-- {{/if}} --}}
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis totam cupiditate deleniti repellat, dignissimos alias doloribus ipsam eaque id earum assumenda in, odit praesentium placeat dolores facere provident? Officiis, praesentium.</p>
</body>